.footer-section, 
.error-page ,
.blog-section h3, 
.featured-car-section h3,
.featured-car-section h4, 
.gallery-section h3, 
.footer-section h3,
.error-page h2{
	font-family: "Poppins", sans-serif;
}
.social-media .wp-block-social-link-anchor{
  border: 1px solid #AEAEAE !important;
  height: 50px;
  width: 40px;
  border-bottom: 1px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media .wp-block-social-link-anchor:hover{
  border: 1px solid var(--wp--preset--color--primary);
  color: #fff !important;
  background: var(--wp--preset--color--primary);
}
/* Header Section */
.header-sec{
  position: relative;
  z-index: 999;
}
.home-page .block-editor-rich-text__editable.wp-block-navigation-item__label.rich-text{
  background:var(--wp--preset--color--primary) !important;
  padding: 10px 25px !important;
  color: #fff !important;
  border-radius: 30px !important;
}
.home-page .block-editor-rich-text__editable.wp-block-navigation-item__label.rich-text:hover{
  color: #fff;
}
.header-sec .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content:hover{
  color: var(--wp--preset--color--primary) !important;
}
.wp-block-navigation__submenu-container .wp-block-navigation-item__label{
  color: var(--wp--preset--color--primary) !important;
  padding: 10px !important;
}
.wp-block-navigation__submenu-container .block-editor-block-list__block{
  border-bottom: 1px solid var(--wp--preset--color--primary);
}
.wp-block-navigation-submenu:hover .wp-block-navigation-item__label,
.wp-block-navigation-submenu:active .wp-block-navigation-item__label{
  color: var(--wp--preset--color--primary) !important;
}
.header-sec .wp-block-navigation .wp-block-navigation-item__content:hover{
  color: var(--wp--preset--color--primary) !important;
}
.wp-block-navigation__submenu-container a.wp-block-navigation-item__content{
  color: var(--wp--preset--color--primary) !important;
  padding: 0 10px !important;
}
.wp-block-navigation__submenu-container .block-editor-block-list__block{
  border-bottom: 1px solid var(--wp--preset--color--primary);
}
.main-navigation a{
  color: #6a6767 !important;
}
form.wp-block-search__button-only.wp-block-search__searchfield-hidden.wp-block-search__icon-button.wp-block-search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.header-sec{
  position: relative;
}

.login-btn{
  border-right: 1px solid #000;
  padding-right: 20px;
}
.login-btn a{
  color: #000;
  text-decoration: none;
}
.search-box{
  position: relative;
}
input#wp-block-search__input-2 {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 4px;
    width: 250px;
    margin: 0 auto;
    z-index: 99;
}
input#wp-block-search__input-2:active label.wp-block-search__label,
input#wp-block-search__input-2:target label.wp-block-search__label{
  display: none;
}
.search-box button.wp-block-search__button.has-icon.wp-element-button{
  position: relative;
  padding-right: 6em;
}
.search-box button.wp-block-search__button.has-icon.wp-element-button:before{
  content: "Search";
  position: absolute;
  z-index: 999;
  left: 0;
  padding-left: 2em;
  right: auto;
  width: 100%;
  color: #000;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  font-size: 17px;
  font-weight: 400;
}
.search-box button.wp-block-search__button.has-icon.wp-element-button:hover:before,
.login-btn a:hover{
  color: var(--wp--preset--color--primary) !important;
}
.search-box .wp-element-button{
  background: none !important;
  color: #000 !important;
  border: none !important;
}
.search-box .wp-element-button:hover{
  background: none !important;
  border: none !important;
  color: var(--wp--preset--color--primary) !important;
}
.search-box  :where(.wp-element-button, .search-box .wp-block-button__link){
  padding: 0 20px auto 0!important;
}
.search-box .wp-block-search .wp-block-search__label{
  font-weight: 400;
}
.header-sec .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow{
  align-self: center;
}
/*------------Banner section-------------*/
.slider-bg .wp-block-cover__background{
  background: linear-gradient(to bottom, var(--wp--preset--color--light-shade) 35%, #fff 100%) !important;
}
.slider-bg{
  position: relative;
}
.slider-bottom-product{
  position: absolute !important;
  top: 70%;
  z-index: 9999;
}
.slider-btn a:hover,
.slider-bg .wp-block-add-to-cart-form.wc-block-add-to-cart-form.product.wc-block-add-to-cart-form--input.wp-block-woocommerce-add-to-cart-form button:hover{
  background: #000 !important;
  color: #fff !important;
}
.slider-bg .wp-block-woocommerce-single-product.woocommerce {
    width: 80% !important;
}
.slider-bg .wp-block-add-to-cart-form.wc-block-add-to-cart-form.product.wc-block-add-to-cart-form--input.wp-block-woocommerce-add-to-cart-form input{
  display: none;
}
.slider-bg div.product form.cart{
  margin-bottom: 0 !important;
}
.slider-bg .wp-block-add-to-cart-form.wc-block-add-to-cart-form.product.wc-block-add-to-cart-form--input.wp-block-woocommerce-add-to-cart-form{
  max-width: 100% !important;
}
/*------------ gallery Section------------ */
.gallery-sec {
  position: relative;
}
.gallery-sec img{
  width: 100% !important;
  object-fit: cover;
}
.gallery-sec .owl-nav {
  display: block !important;
  position: absolute;
  top: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}
.gallery-sec .owl-nav button.owl-prev,
.gallery-sec .owl-nav button.owl-next {
  pointer-events: auto;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
.gallery-sec .owl-nav button.owl-prev span,
.gallery-sec .owl-nav button.owl-next span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: var(--wp--preset--color--primary);
  border: none;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}
.gallery-sec .owl-nav button.owl-prev {
  position: absolute;
  left: -25%;
}
.gallery-sec .owl-nav button.owl-next {
  position: absolute;
  left: -20%;
}
.gallery-sec .owl-nav button.owl-prev span:hover,
.gallery-sec .owl-nav button.owl-next span:hover {
  background-color: var(--wp--preset--color--foreground);
  color: #fff; 
}
/*------------ product Section------------ */
.product-sec .product-box{
  position: relative;
}
.product-sec .owl-carousel .owl-stage-outer{
  min-height: 550px;
}
.product-content i{
  position: absolute;
  background: #000;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10%;
  top: 90%;
}
.product-sec .prod-img-bg{
  width: 92% !important;
  margin: 3px auto -8em;
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-sec .prod-img-bg img{
  width: 100%;
}
.product-sec .prod-img-bg .components-resizable-box__container{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.prod-img-bg{
  box-shadow: 0 0 5px rgb(0 0 0 / 23%);
}
.product-sec .product-content{
  background: #F6F6F6;
}
.product-content .wp-block-image{
  margin-inline-end: 0;
}
.product-box:hover .product-content i{
  background: var(--wp--preset--color--primary);
}
.product-sec h3 a{
  text-decoration: none !important;
}

/*arriaval*/
.product-sec li.wc-block-product, li.wc-block-grid__product{
  border: none !important;
}
.product-sec .add_to_cart_button span,
.slider-bg .quantity input,
.slider-bg .wc-block-components-skeleton{
  display: none !important;
}
.slider-bg button.single_add_to_cart_button.alt.wp-element-button{
  border-radius: 30px !important;
  font-family: "Kumbh Sans", sans-serif !important;
}
.product-sec a.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button.added{
  position: relative;
  width: 50px !important;
  height: 50px !important;
}
.product-sec .wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button{
  background: none !important;
  border: none !important;
}
.product-box a.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button.added:before{
  content: "\f07a";
  position: absolute;
  background: #000;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: 'FontAwesome' !important;
  right: 10%;
  top: 30%;
}
.product-sec .wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button{
  overflow: visible;
}
.product-sec .wc-block-components-product-rating__stars{
  font-size: 14px !important;
  letter-spacing: 13px !important;
  width: 9.3em !important;
  color: #FFC107 !important;
}
.product-sec .wp-block-button.wc-block-components-product-button.align-right.wp-block-woocommerce-product-button.has-small-font-size{
  margin-block-start: 0 !important;
}
.product-sec .add-to-cart-main{
  position: relative;
}
.product-sec .added_to_cart.wc_forward{
  position: absolute;
  left: 0;
  top: 100%;
  bottom: auto;
  transform: translateY(-50%);
}
.product-sec a.added_to_cart.wc_forward {
  margin-top: 0 !important;
  background: var(--wp--preset--color--primary);
  color: #fff;
  padding: 7px 15px;
  font-size: 14px !important;
  text-decoration: none;
  border-radius: 30px !important;
}
.product-sec a.added_to_cart.wc_forward:hover{
  background: var(--wp--preset--color--foreground);
}
/*------------ ------------------------Services Section------------ */

/*Footer Section*/
/*Footer Section*/
footer.wp-block-template-part{
  margin-top: 0 !important;
}
.footer-para{
  margin-right: 58% !important;
}
.footer-section  .wp-block-social-links{
  gap: 10px !important;
}
.footer-section a{
  color: #fff;
  font-size: 14px !important;
}
.footer-section .wp-block-tag-cloud a{
  border:1px solid var(--wp--preset--color--primary);
  padding: 6px 10px;
  margin: 2px;
}
.footer-section .wp-block-tag-cloud a:hover{
  background: #009DAE;
  border:1px solid #009DAE;
}
.footer-section .wp-block-columns.copyright-section p a{
  color: #fff;
  font-size: 18px !important;
  text-decoration: none;
}
.footer-section h1 a{
  font-size: 22px !important;
  color: #fff !important;
}
.footer-section .footer-box .wp-block-heading{
  color: #fff !important;
}
.footer-add{
  margin-right: 10%;
}
.footer-section {
  padding: 0;
  min-height: auto;
}
.footer-section .wp-block-group {
  padding: 50px 0px 0;
}
.footer-section .wp-block-columns.copyright-section {
  padding: 20px 0px;
  margin: 50px 0 0;
}
.footer-section .wp-block-columns.copyright-section .wp-block-column:first-child {
  padding-left: 50px;
}
.footer-section .wp-block-columns.copyright-section .wp-block-column:nth-child(2) {
  padding-right: 50px;
}
.footer-box h3 {
  margin-bottom: 20px;
  width: 100%;
  color: #fff !important;
}
.footer-box p, .footer-box p a{
  margin-top: 10px !important;
  color: #fff !important;
}
.footer-add{
 line-height: 30px !important;
}
.footer-box a{
  text-decoration: none !important;
}
.footer-box ul {
  padding: 0;
  gap: 0;
}
.footer-box{
  position: relative;
}
.footer-box ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-section .wp-block-social-link{
  background: transparent !important;
  color: var(--wp--preset--color--tertiary);
}
.footer-section .wp-block-button__link {
  padding: 10px 25px;
  font-weight: 500;
  font-size: 14px;
  color: #fff !important;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #fff;
}
.search-menu .menu-section .wp-block-search__button svg:hover{
  color: #fff !important;
}
.footer-section .wp-block-social-link a{
  padding: 8px !important;
  border-radius: 6px;
  background: #ffffff;
  color: var(--wp--preset--color--primary) !important;
  font-size: 22px !important;
}
.copyright-section p{
  line-height: 30px;
}
.footer-section .wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook{
  color: #1778f2;
}
.footer-section .wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram{
  color:#f00075;
}
.footer-section .wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter{
  color:#1da1f2;
}
.footer-section .wp-block-social-links:not(.is-style-logos-only) .wp-social-link-pPoppinsest{
  color:#e60122;
}
.innerpage-banner{
  margin: 0 !important;
}
.footer-mail, .footer-location, .footer-phone{
  position: relative;
  padding-left: 26px;
}
.footer-mail a:hover, .footer-phone a:hover, .footer-box p a:hover{
  color:var(--wp--preset--color--primary) !important;
}
.footer-mail::before,
.footer-location::before,
.footer-phone::before {
  font-family: "Font Awesome 5 Free"; /* Font Awesome 5 */
  font-weight: 900; /* Solid icons */
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px; /* Adjust icon size */
  color: var(--wp--preset--color--primary); /* Icon color */
}

.footer-mail::before {
  content: "\f0e0"; /* Envelope icon */
}

.footer-location::before {
  content: "\f3c5"; /* Map marker icon */
}

.footer-phone::before {
  content: "\f095"; /* Phone icon */
}

.footer-box .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor svg{
  fill: var(--wp--preset--color--tertiary) !important;
}
.footer-box .wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor svg:hover{
  fill: var(--wp--preset--color--primary) !important;
}
/*404 Page CSS*/
.error-page .wp-block-search__button {
  border: 0;
  background: var(--wp--preset--color--primary);
}
/*archive*/
.archive-page-sec{
  padding-bottom: 30px;
  padding-top: 30px;
}
/*Sidebar CSS*/
.theme-sidebar .wp-block-tag-cloud a {
  border: 1px solid var(--wp--preset--color--primary);
  padding: 6px 10px;
  margin: 2px;
  font-size: 14px !important;
}
.theme-sidebar .wp-block-group {
  padding: 15px ;
  border: 1px solid #eee;
  color: #6b6b6b;
  margin-bottom: 30px;
}
.theme-sidebar a {
  text-decoration: none;
}
.theme-sidebar .wp-block-group h3 {
  color: #222;
  padding-bottom: 5px;
  border-bottom: 3px double #222;
}
.theme-sidebar .wp-block-group ul {
  padding-left: 20px;
}
.theme-sidebar .wp-block-group ul li {
  line-height: 2;
  font-size: 14px;
  color: #6b6b6b;
  list-style: disc;
}
.theme-sidebar .wp-block-group ul li a {
  color: #6b6b6b;
  text-decoration: none !important;
}
.theme-sidebar ul.wp-block-social-links {
  padding: 0;
}
.theme-sidebar ul.wp-block-social-links .wp-block-social-link-anchor{
  padding: 10px !important;
}
.theme-sidebar ul.wp-block-social-links .wp-block-social-link-anchor svg {
  font-size: 18px;
}
.theme-sidebar .wp-block-tag-cloud a{
  background:#fff; 
  color: #000; 
  font-size:15px !important;
  padding: 8 px 18px;
  margin: 0 0 5px; 
  display:inline-block;
  border: 2px solid #000;
  text-decoration: none;
}
.theme-sidebar .wp-block-tag-cloud a:hover{
  background: var(--wp--preset--color--primary);
  color: #fff;
  border: 2px solid var(--wp--preset--color--primary);
}
.theme-sidebar .wp-block-gallery {
  gap: 1em;
}
/*Blog Section*/
.wp-block-latest-posts.is-grid li {
  position: relative;
  background: #fff;
  border: solid 1px #eee;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 16%), 0 0 0 0px rgb(0 0 0 / 8%);
  margin-bottom: 30px;
}
.wp-block-latest-posts.is-grid.columns-3 li {
  width: calc(33.33333% - 1.5em);
}
.blog-section .wp-block-latest-posts.is-grid li {
  box-shadow: none;
}
.wp-block-latest-posts.is-grid li img {
  width: 100%;
}
.wp-block-latest-posts.is-grid li:nth-child(3n) {
  margin-right: 0px;
}
.index-section .wp-block-latest-posts.is-grid li:nth-child(3n){
  margin-right: 12px;
}
.wp-block-latest-posts.is-grid li a {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 0 10px;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  margin:  20px 0 0;
  line-height: 35px;
}
.wp-block-latest-posts.is-grid li time.wp-block-latest-posts__post-date{
  display: inline-block;
  background: var(--wp--preset--color--primary);
  padding: 8px 8px;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  margin: 10px 0px 5px 10px;
}
.wp-block-latest-posts.is-grid li .wp-block-latest-posts__post-excerpt {
  color: #6b6b6b;
  padding: 0 10px;
  font-size: 14px;
  line-height: 25px;
}
.wp-block-latest-posts.is-grid li .wp-block-latest-posts__post-excerpt a {
  display: none;
}

/*taxonomy-product-cat*/
.taxonomy-product-cat .wp-block-query-pagination {
  margin: 80px 0; 
}
 .taxonomy-product-cat  .wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
 .taxonomy-product-cat .wp-block-query-pagination .page-numbers,
 .taxonomy-product-cat .wp-block-query-pagination .wp-block-query-pagination-next,
 .taxonomy-product-cat .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff !important;
}
 .taxonomy-product-cat .wp-block-query-pagination .page-numbers.current,
 .taxonomy-product-cat .wp-block-query-pagination a:hover,
 .taxonomy-product-cat .wp-block-query-pagination a:focus,
 .taxonomy-product-cat .wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff !important; 
}
.taxonomy-product-cat{
  margin-left: 10em;
  margin-right: 10em;
}
.taxonomy-product-cat h3 a{
  color: #000;
  text-decoration: none !important;
}
.taxonomy-product-cat .block-editor-block-list__block li{
  box-shadow: 0 0 15px #0000002b;
  padding: 10px;
}
.taxonomy-product-cat .wp-block-query-pagination{
  margin-top: 30px !important;
}
.taxonomy-product-cat button.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button{
  border-radius: 30px;
  color: #fff;
  background-color: var(--wp--preset--color--primary);
  font-size: 18px !important;
  font-weight: 600 !important;
}
.taxonomy-product-cat .wc-block-breadcrumbs a{
  font-size: 16px !important;
  color: #000 !important;
}
.taxonomy-product-cat .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  background: var(--wp--preset--color--primary);
  padding: 10px;
  color: #fff;
  border: none;
}

/*taxonomy-product-tag*/
.taxonomy-product-tag .wp-block-query-pagination {
  margin: 80px 0; 
}
 .taxonomy-product-tag  .wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
 .taxonomy-product-tag .wp-block-query-pagination .page-numbers,
 .taxonomy-product-tag .wp-block-query-pagination .wp-block-query-pagination-next,
 .taxonomy-product-tag .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff !important;
}
 .taxonomy-product-tag .wp-block-query-pagination .page-numbers.current,
 .taxonomy-product-tag .wp-block-query-pagination a:hover,
 .taxonomy-product-tag .wp-block-query-pagination a:focus,
 .taxonomy-product-tag .wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff !important; 
}
.taxonomy-product-tag{
  margin-left: 10em;
  margin-right: 10em;
}
.taxonomy-product-tag h3 a{
  color: #000;
  text-decoration: none !important;
}
.taxonomy-product-tag .block-editor-block-list__block li{
  box-shadow: 0 0 15px #0000002b;
  padding: 10px;
}
.taxonomy-product-tag .wp-block-query-pagination{
  margin-top: 30px !important;
}
.taxonomy-product-tag button.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button{
  border-radius: 30px;
  color: #fff;
  background-color: var(--wp--preset--color--primary);
  font-size: 18px !important;
  font-weight: 600 !important;
}
.taxonomy-product-tag .wc-block-breadcrumbs a{
  font-size: 16px !important;
  color: #000 !important;
}
.taxonomy-product-tag .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  background: var(--wp--preset--color--primary);
  padding: 10px;
  color: #fff;
  border: none;
}

/*single product*/
.single-product-woocommerce .wp-block-query-pagination {
  margin: 80px 0; 
}
 .single-product-woocommerce  .wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
 .single-product-woocommerce .wp-block-query-pagination .page-numbers,
 .single-product-woocommerce .wp-block-query-pagination .wp-block-query-pagination-next,
 .single-product-woocommerce .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff !important;
}
.single-product-woocommerce .wp-block-query-pagination .page-numbers.current,
.single-product-woocommerce .wp-block-query-pagination a:hover,
.single-product-woocommerce .wp-block-query-pagination a:focus,
.single-product-woocommerce .wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff !important; 
}
.single-product-woocommerce{
  margin-left: 10em;
  margin-right: 10em;
}
.single-product-woocommerce h3 a{
  color: #000;
  text-decoration: none !important;
}
.single-product-woocommerce .block-editor-block-list__block li{
  box-shadow: 0 0 15px #0000002b;
  padding: 10px;
}
.single-product-woocommerce .wp-block-query-pagination{
  margin-top: 30px !important;
}
.single-product-woocommerce button.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button{
  border-radius: 30px;
  color: #fff;
  background-color: var(--wp--preset--color--primary);
  font-size: 18px !important;
  font-weight: 600 !important;
}
.single-product-woocommerce .wc-block-breadcrumbs a{
  font-size: 16px !important;
  color: #000 !important;
}
.single-product-woocommerce .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  background: var(--wp--preset--color--primary);
  padding: 10px;
  color: #fff;
  border: none;
}
/*blog post*/
.has-shadow-dark, .has-no-hover-shadow-dark {
  box-shadow: 0 6px 30px 7px #2125471a;
  transition: 0.5s;
  padding: 50px !important;
  margin-bottom: 30px;
}
p.form-submit.wp-block-button input.wp-block-button__link.wp-element-button{
  padding: 10px 15px;
  background: var(--wp--preset--color--primary);
  border-radius: 30px;
  font-size: 18px !important;
  color: #fff;
  border: none;
  cursor: poPoppins;
  text-decoration: none !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navigation .alignleft a, .navigation .alignright a{
  color: #000 !important;
  font-size: 18px !important;
  text-decoration: none !important;
}
.comment-author.vcard a, .comment-metadata a,.comment-metadata a .edit-link, .reply a, .comment-content a{
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 700;
}
p.form-submit.wp-block-button input.wp-block-button__link.wp-element-button:hover{
  background: transparent !important;
  border: 1px solid var(--wp--preset--color--primary);
  color: #000 !important;
}
footer.comment-meta {
  margin-top: 12px;
}
/*Sidebar CSS*/
.theme-sidebar .wp-block-search__button{
  background: var(--wp--preset--color--primary) !important;
}
.theme-sidebar{
  padding: 0 30px !important;
}
.theme-sidebar .wp-block-group {
  padding: 15px ;
  border: 1px solid #eee;
  color: #6b6b6b;
  box-shadow: 0 6px 30px 7px #2125471a;
  transition: 0.5s;
}
.single-post-sidebar-on-right{
  margin-right: 8%;
  margin-left: 8%;
}
/*blog listing*/
.wp-block-query-pagination {
  margin: 80px 0; 
}
.wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
.wp-block-query-pagination .page-numbers,
.wp-block-query-pagination .wp-block-query-pagination-next,
.wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff;
}
.wp-block-query-pagination .page-numbers.current,
.wp-block-query-pagination a:hover,
.wp-block-query-pagination a:focus,
.wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff;
}
.wp-block-query-pagination .page-numbers, .wp-block-query-pagination .wp-block-query-pagination-next, .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background:#fff;
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b; 
  border-radius: 100px;
  color: #000;
}
.scroll-top-box .wp-element-button{
  border-radius: 50% !important;
  padding: 12px 16px 6px !important; 
}
.banner-section .wpzoom-video-popup-block .wpzoom-video-popup-block_icon {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 15px;
    display: inline-block;
    font-size: 12px !important;
    background: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--background) !important;
}